<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/fondobanano.jpeg">
  <div class="logo">
    <a rel="noopener noreferrer" href="/" class="simple-text logo-normal">
      °AHoRa APP V1.0.0
    </a>
  </div>
  <div class="sidebar-wrapper">
    <!-- Brand -->

    <ul class="nav">

     

      <li class="nav-item {% if 'index' in segment %} active {% endif %}">
        
          <i class="offset-md-1  fas fa-leaf text-green"></i>
          
          <p>Número de hojas</p>
        
        <ul class="offset-md-2">

          <li>
            <a href="/view14" class="">Calcular</a>
          </li>

          <!-- <li>
            <a href="/view28" class="">A 28 días</a>
          </li> -->

        </ul>
      </li>

      <li class="nav-item {% if 'index' in segment %} active {% endif %}">
       
          <i class="offset-md-1 fa fa-temperature-low text-green"></i>
          <p>Grados día</p>
        
        <ul class="offset-md-2">

          <li>
            <a href="/viewBackward" class="">GD Backward</a>
          </li>

          <li>
            <a href="/formForward" class="">GD Forward</a>
          </li>

        </ul>
      </li>
      <br>
      <br>
      <br>
      <a class="navbar-brand pt-0 offset-md-2" href="/">
        <img src="/static/assets/img/udep.png" width="70%" height="70%" class="navbar-brand-img"
          alt="Universidad de Piura">
      </a>
      <a class="navbar-brand pt-0 offset-md-2" href="/">
        <img src="/static/assets/img/agrosavia.png" width="70%" height="70%" class="navbar-brand-img" alt="Agrosavia">
      </a>
      <a class="navbar-brand pt-0 offset-md-2" href="/">
        <img src="/static/assets/img/fontagro2.png" width="70%" height="70%" class="navbar-brand-img" alt="Fontagro">
      </a>
      <a class="navbar-brand pt-0 offset-md-2" href="/">
        <img src="/static/assets/img/idiaf2.png" width="70%" height="70%" class="navbar-brand-img" alt="IDIAF">
      </a>
      <a class="navbar-brand pt-0 offset-md-2" href="/">
        <img src="/static/assets/img/inia2.png" width="70%" height="70%" class="navbar-brand-img" alt="INIA">
      </a>
      <!-- <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/page-user.html">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-tables.html">
              <i class="material-icons">content_paste</i>
              <p>Table List</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-typography.html">
              <i class="material-icons">library_books</i>
              <p>Typography</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-icons.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-maps.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          
          
          <li class="nav-item ">
            <a class="nav-link" href="" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

          <li class="nav-item active-pro ">
            <a target="_blank" rel="noopener noreferrer"  
               class="nav-link" href="https://www.creative-tim.com/templates/flask">
               <i class="material-icons">cloud_download</i>
               <p>More Starters</p>
            </a>
          </li>
         
          <li class="nav-item ">
            <a target="_blank" rel="noopener noreferrer"  
               class="nav-link" href="https://www.creative-tim.com/templates/flask">
              <i class="material-icons">cloud_download</i>
              <p>More Starters</p>
            </a>
          </li> -->

    </ul>


  </div>

</div>