
  <div class="d-sm-flex align-items-center justify-content-between bg-transparent topbar2 static-top mb-4">
    <button id="sidebarToggleTop2" class="btn btn-link2 d-md-none mr-3">
        <i class="fa fa-bars"></i>
        <!-- <i class='bx bxs-chevrons-right'></i> -->
        <!-- <i class="fa-solid fa-circle-chevron-right"></i> -->
        <!-- <i class="fa-solid fa-sort"></i> -->
    </button>

    <!-- <button id="sidebarToggleTop" class="btn btn-link d-md-none rotate-n-90 mr-3">
        <i class="fa-solid fa-sort"></i>
    </button> -->
  </div>