{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div id="content-wrapper" class="d-flex flex-column ubicacion">

  {% include 'includes/topbarHide.html' %}
  
  <div><p class="bg-light text-body h4">Cálculo del número de hojas del hijo de la planta cosechada.</p></div> 
  <!-- <div><p class="bg-light text-body"><h4>Número de semanas necesarias de floración a cosecha, para garantizar madurez fisiológica y calibre óptimo de racimo. Un cálculo basado en temperatura promedio diario y acumulación de grados día. </h4></p></div> -->

  <div class="row mt-5">
      {% with messages = get_flashed_messages() %}

      {% if messages %}
      {% for mensaje in messages %}


      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{mensaje}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      {% endfor %}
      {% endif %}
      {% endwith %}
    <div class="col-md-2">
            <!-- <table class ="table table-bordered table-hover">
                    <thead>
                        <tr>
                          
                            <th>Fecha</th>
                            <th>Nro Hojas ingresado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                  
                    </tbody>
            </table> -->

    </div> 

    <div class="col-md-6">
    
        <form action="/viewHojasHijo" method="POST" class="align-items-center">
          <div class="form-group">  <label class="bmd-label-floating">Seleccionar estación de interés:</label> 
            <!-- <select id="" name="cmbTipoCaja" class="form-control">
              <option value="1">AMPRO</option>
              <option value="2">IREN</option>
            </select> -->
            <select id="" name="cmbEstacion" class="form-control">
              <option value="1">Fundación</option>
              <!-- <option value="2">Estación HATILLO PALMA</option>
              <option value="3">Estación HATO AL MEDIO</option> -->
            </select>
          </div>

          <div class="form-group">
              <!-- Fecha de última cosecha: <input type="text" name="fechaCosecha" placeholder="Ingrese fecha de la última cosecha, ejemplo: 1/06/2021" class="form-control"> -->

              {{form.fechaCosecha.label(class='bmd-label-floating')}}
              <br>
              {{form.fechaCosecha(class='datepicker')}} {{form.hidden_tag()}}
                {%for error in form.fechaCosecha.errors %} 
                    <span style="color: red;">{{error}}</span>
                {% endfor %}

          </div>

          
            <div class="form-group">
            <button type="submit" class="btn btn-purple"> Calcular datos</button>
          </div>
        </form>

    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}