{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div id="content-wrapper" class="d-flex flex-column ubicacion">

  {% include 'includes/topbarHide.html' %}

  <div class="row mt-5">
      {% with messages = get_flashed_messages() %}

      {% if messages %}
      {% for mensaje in messages %}


      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{mensaje}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      {% endfor %}
      {% endif %}
      {% endwith %}
    <div class="col-md-2">
            <!-- <table class ="table table-bordered table-hover">
                    <thead>
                        <tr>
                          
                            <th>Fecha</th>
                            <th>Nro Hojas ingresado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                  
                    </tbody>
            </table> -->

    </div> 

    <div class="col-md-6">
    
      <input type="button" value="Regresar" class="btn btn-info" onClick="history.go(-1);">


    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}