{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}






<div id="content-wrapper" class="d-flex flex-column ubicacion">

  {% include 'includes/topbarHide.html' %}

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Estimación de la próxima fecha de cosecha - Estación {{estacionName}}</h3>
    </div>
    <div class="card-body">
      <h6 class="card-title">Fecha de cosecha proyectada según acumulación de grados día desde floración.</h6>
      <!-- <p class="card-text">Se proyecta una fecha estimada de cosecha partiendo de la fecha de floración ingresada</p> -->

      <div class="row">
        <div class="col-md-12">
          <div class="card text-center">
            <div class="card-header card-header-primary">
              <h5 class="card-title">Información</h5>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <div class="alert alert-success alert-dismissible fade show" role="alert">
            <!-- <h5>Se han acumulado {{valor1}} GD desde la fecha de floración {{valor2}} y la fecha estimada para completar los 900 GD es {{valor3}}, faltan {{estimacion}} días </h5> -->
            <h5>Desde fecha de floración <strong><em>{{valor2}}</em></strong>. Se acumuló {{valor1}} grados día el <strong><em>{{valor3}}</em></strong> (fecha óptima de cosecha estimada).</h5>

          </div>
            </div> 
          </div>
        </div>
        
      
      
      </div>
      
      <div class="row justify-content-center">
        <h6 class="card-title">Variación de temperatura y acumulación de grados día, desde floración {{valor2}} hasta la fecha estimada de cosecha {{valor3}}.</h6>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Temperatura</h5>
              <canvas id="chart1" style="width:100% ;height: 30vh"></canvas>
              <script type="module">
                function totalCasesChart(ctx) {
                  //const { temp1, temp2 } = data;
      
                  const chart = new Chart(ctx, {
      
                    type: 'line',
                    data: {
      
                      labels: {{ fechas| safe}},
                datasets: [
      
                  {
      
                    label: "Temperatura promedio",
                    data: {{ tempPromedio| safe}},
                  fill: false,
                  borderColor: 'blue',
                  lineTension: 0.1
                        },
      
                ]
                    },
      
                options: {
                  scales: {
      
                    xAxes: [{
      
                      gridLines: {
                        display: false,
                      }
                    }]
                  },
                  responsive: true
      
      
                },
                legend: {
                  position: 'bottom',
                    labels: {
                    padding: 20,
                      boxWidth: 15,
                        fontFamily: 'system-ui',
                          fontColor: 'black',
                      }
                },
                layout: {
                  padding: {
                    right: 50,
          
                      }
      
                },
                tooltips: {
                  backgroundColor: '#0584f6',
                    titleFontSize: 20,
                      xPaddding: 20,
                        yPadding: 20,
                          bodyFontSize: 15,
                            bodySpacing: 10,
                              mode: 'x'
                },
                elements: {
      
                  line: {
                    borderWidth: 8,
                      fill: false
      
                  },
                  point: {
      
                    radius: 6,
                      borderWidth: 4,
                        backgroundColor: 'white',
                          hoverRadius: 8,
                            hoverBorderWidth: 4
                  }
                }
          
          
                  });
          
                }
      
                function renderCharts() {
      
                  const ctx = document.querySelector('#chart1').getContext('2d');
                  totalCasesChart(ctx);
      
                }
      
                renderCharts();
      
              </script>
      
              <!-- <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="myModalTemperatura">Ver detalle</a> -->
              <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalTemperatura">Ver
                detalle</button>
              <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                data-target="#myModalGraficoTemperatura">Ampliar gráfico</button>
      
            </div>
          </div>
        </div>
      

      
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Grados día</h5>
              <canvas id="chart3" style="width:100% ;height: 30vh"></canvas>
      
              <script type="module">
      
            
                function totalCasesChart(ctx) {
      
                  const chart = new Chart(ctx, {
      
                    type: 'line',
                    data: {
      
                      labels: {{ fechas| safe}},
                datasets: [
      
                  {
                    label: "Grados día Acumulado",
                    data: {{ gradosDia| safe}},
                  fill: false,
                  borderColor: 'green',
                  lineTension: 0.1
                // borderDash:[1,10]
                        },
      
      
                ]
                    },
      
                options: {
                  scales: {
      
                    xAxes: [{
      
                      gridLines: {
                        display: false,
                      }
                    }]
                  },
                  responsive: true
      
      
                },
                legend: {
                  position: 'bottom',
                    labels: {
      
                    padding: 20,
                      boxWidth: 15,
                        fontFamily: 'system-ui',
                          fontColor: 'black'
                  }
                },
                layout: {
                  padding: {
                    right: 50,
      
                      }
      
                },
                tooltips: {
                  backgroundColor: '#0584f6',
                    titleFontSize: 20,
                      xPaddding: 20,
                        yPadding: 20,
                          bodyFontSize: 15,
                            bodySpacing: 10,
                              mode: 'x'
                },
                elements: {
      
                  line: {
                    borderWidth: 8,
                      fill: false
      
                  },
                  point: {
      
                    radius: 6,
                      borderWidth: 4,
                        backgroundColor: 'white',
                          hoverRadius: 8,
                            hoverBorderWidth: 4
                  }
                }
      
      
                  });
      
                }
      
                function renderCharts() {
      
                  const ctx = document.querySelector('#chart3').getContext('2d');
                  totalCasesChart(ctx);
      
                }
      
                renderCharts();
      
              </script>
      
              <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalGradosdia">Ver
                detalle</button>
              <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                data-target="#myModalGraficoGradosdia">Ampliar gráfico</button>
      
            </div>
          </div>
      
        </div>
      
      </div>

    </div>
  </div>

  
  <div class="modal" tabindex="-1" id="myModalTemperatura" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">Datos de temperatura</h5>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
              <tr>
                <td>Fecha</td>
                <td>Temperatura promedio</td>
              </tr>

            <tbody>
              {% for dato in datosCompletos %}
              <tr>
                <td>{{dato.0}}</td>
                <td>{{dato.1}}</td>

              </tr>

              {% endfor %}

            </tbody>
            </thead>
          </table>
        </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal" tabindex="-1" id="myModalGraficoTemperatura" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog-lg">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">Gráfico Temperatura</h5>
        </div>
        <div class="modal-body">

          <canvas id="chart1g"  width="50%" height="25vh""></canvas>

          <script type="module">
            function totalCasesChart(ctx) {
              //const { temp1, temp2 } = data;

              const chart = new Chart(ctx, {

                type: 'line',
                data: {

                  labels: {{ fechas| safe}},
            datasets: [

              {

                label: "Temperatura promedio",
                data: {{ tempPromedio| safe}},
              fill: false,
              borderColor: 'blue',
              lineTension: 0.1
                    },

            ]
                },

            options: {
              scales: {

                xAxes: [{

                  gridLines: {
                    display: false,
                  }
                }]
              },


            },
            legend: {
              position: 'bottom',
                labels: {
                padding: 20,
                  boxWidth: 15,
                    fontFamily: 'system-ui',
                      fontColor: 'black',
                  }
            },
            layout: {
              padding: {
                right: 50,
      
                  }

            },
            tooltips: {
              backgroundColor: '#0584f6',
                titleFontSize: 20,
                  xPaddding: 20,
                    yPadding: 20,
                      bodyFontSize: 15,
                        bodySpacing: 10,
                          mode: 'x'
            },
            elements: {

              line: {
                borderWidth: 8,
                  fill: false

              },
              point: {

                radius: 6,
                  borderWidth: 4,
                    backgroundColor: 'white',
                      hoverRadius: 8,
                        hoverBorderWidth: 4
              }
            }
      
      
              });
      
            }

            function renderCharts() {

              const ctx = document.querySelector('#chart1g').getContext('2d');
              totalCasesChart(ctx);

            }

            renderCharts();

          </script>

        </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>


  <div class="modal" tabindex="-1" id="myModalGradosdia" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">Datos grados día acumulado</h5>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
              <tr>
                <td>Fecha</td>
                <td>Grados día acumulados</td>
              </tr>

            <tbody>
              {% for dato in datosCompletos %}
              <tr>
                <td>{{dato.0}}</td>
                <td>{{dato.3}}</td>

              </tr>

              {% endfor %}

            </tbody>
            </thead>
          </table>
        </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal" tabindex="-1" id="myModalGraficoGradosdia" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog-lg">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">Gráfico grados día</h5>
        </div>
        <div class="modal-body">

          <canvas id="chart3g"  width="50%" height="25vh""></canvas>

          <script type="module">
            function totalCasesChart(ctx) {
              //const { temp1, temp2 } = data;

              const chart = new Chart(ctx, {

                type: 'line',
                data: {

                  labels: {{ fechas| safe}},
            datasets: [
              {

                label: "Grados día Acumulado",
                data: {{ gradosDia| safe}},
              fill: false,
              borderColor: 'green',
              lineTension: 0.1
                    },


            ]
                },

            options: {
              scales: {

                xAxes: [{

                  gridLines: {
                    display: false,
                  }
                }]
              },


            },
            legend: {
              position: 'bottom',
                labels: {
                padding: 20,
                  boxWidth: 15,
                    fontFamily: 'system-ui',
                      fontColor: 'black',
                  }
            },
            layout: {
              padding: {
                right: 50,
      
                  }

            },
            tooltips: {
              backgroundColor: '#0584f6',
                titleFontSize: 20,
                  xPaddding: 20,
                    yPadding: 20,
                      bodyFontSize: 15,
                        bodySpacing: 10,
                          mode: 'x'
            },
            elements: {

              line: {
                borderWidth: 8,
                  fill: false

              },
              point: {

                radius: 6,
                  borderWidth: 4,
                    backgroundColor: 'white',
                      hoverRadius: 8,
                        hoverBorderWidth: 4
              }
            }
      
      
              });
      
            }

            function renderCharts() {

              const ctx = document.querySelector('#chart3g').getContext('2d');
              totalCasesChart(ctx);

            }

            renderCharts();

          </script>

        </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>
</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}